* {
    background-color: #222C3B;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

// navbar

nav {
    background-color: #19202C;
    position: sticky;
    top: 0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    background-color: #19202C;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
    background-color: #19202C;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #EDE4C1;
    background-color: #19202C;
    }

nav .logoNav {
    background-color: #19202C;
}

.logoTop {
    margin: 2px 5px;
    width: 48px;
    height: 57.52px;
    background-color: #19202C;
}

// hover links en navbar 

.link a {
    position: relative;
}

.link a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 17px;
    height: 1px;
    width: 100%;
    background: #EDE4C1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

// hover links navbar seccion actual 

.actual{
    border-bottom: #ede4c1 solid 1px;
}

// footer 

footer {
    width: 100%;
    margin: 80px 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
}

footer .icon {
    width: 36px;
    height: 36px;
    margin: 40px 20px;
}

footer .logoBottom {
    width: 62px;
    height: 71.52px;
    margin-bottom: 20px;
}

footer .line {
    width: 100%;
}

footer .end {
    color: #EDE4C1;
    margin-bottom: 20px;
}


// aparecer elementos scroll

.animado {
    opacity: 0;
    transition: all 0.5s;
}

.mostrarArriba {
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

// Media queries

@media (max-width: 960px) {
    h1, h2 {
        width: 100%;
        align-items: center;
    }

    h3 {
        margin: 100px 50px;
        padding: 20px 50px;
        display: flex;
        align-items: center;
    }

    nav {
        display: none;
    }    
    
    .index section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .skillp {
        margin: 100px 50px;
    }

    .grid {
        padding: 0 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .iconos2{
        padding: 0 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
    }
}

