@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

// h1 - h2 - h3 

h1 {
    color: #EDE4C1;
    margin: 100px 0px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
}

h2 {
    color: #EDE4C1;
    margin: 10px 0px;
    text-align: left;
    letter-spacing: 0.05em;
    position: relative;
}

h3 {
    font-size: 24px;
    color: #EDE4C1;
    margin: 160px 256px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
}