@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    background-color: #222C3B;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */

nav {
    background-color: #19202C;
    position: sticky;
    top: 0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    background-color: #19202C;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
    background-color: #19202C;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #EDE4C1;
    background-color: #19202C;
    }

nav .logoNav {
    background-color: #19202C;
}

.logoTop {
    margin: 2px 5px;
    width: 48px;
    height: 57.52px;
    background-color: #19202C;
}

/* hover links en navbar */

.link a {
    position: relative;
}

.link a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 17px;
    height: 1px;
    width: 100%;
    background: #EDE4C1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

/* hover links navbar seccion actual */

.actual{
    border-bottom: #ede4c1 solid 1px;
}


/* h1 - h2 - h3 */

h1 {
    color: #EDE4C1;
    margin: 100px 0px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
}

h2 {
    color: #EDE4C1;
    margin: 10px 0px;
    text-align: left;
    letter-spacing: 0.05em;
    position: relative;
}

h3 {
    font-size: 24px;
    color: #EDE4C1;
    margin: 160px 256px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
}

/* efecto maquina de escribir index */

span {
    color: #EDE4C1;
    margin: 0px 0px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
}

span::after {
    content: "";
    border-left: 3px solid black;
    background-color: #222C3B;
    right: 0;
    height: 100%;
    position: absolute;
    animation: typing 3s infinite alternate steps(20);
}

@keyframes typing {
    from {
        width: 94%;
    }
    to {
        width: 0%;
    }
}

/* banner img index */

.banner img {
    width: 100%;
}


/* main index */

.index section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: left ;
    margin: 80px 80px;
    padding: 10px 100px;
    letter-spacing: 0.08em;
    color: #EDE4C1;
}

.index section div {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.index section a {
    text-decoration: none;
    color: #EDE4C1;
    padding: 6px 50px;
    border: solid #ede4c1 1px;
    border-radius: 6px;
    background-color: #364356;
}


main section div p {
    margin: 30px 0px;
}

/* skills */

.skillp {
    font-size: 40px;
    color: #EDE4C1;
    margin: 120px 170px;
    text-align: center;
    letter-spacing: 0.05em;
    display: block;
}

/* contact */

.container {
    margin: 4rem 20%;
}

.contact-section {
    padding: 2rem 0;
}

.contact-section h1 {
    text-align: center;
    color: #EDE4C1;
}

.border {
    width: 100px;
    height: 10px;
    background-color: #34495e;
    margin: 2rem auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0px;
    border:0;
    background-color: #19202C;
    padding: 20px 40px;
    outline: none;
    transition: 0.5s;
    color: #EDE4C1;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border:0;
    background-color: #34495e;
    color: #EDE4C1;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background-color: #2980b9;
}

/* grid iconos skills */

.grid {
    width: 99%;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconos {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.iconos2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-bottom: 100px;
}

/* hover iconos skills */

.iconos img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
}

.iconos2 img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
}

/* education */

.edumain h2 {
    text-align: center;
}

.edumain p {
    text-align: center;
    color: #EDE4C1;
    margin: 30px 150px;
    letter-spacing: 1px;
    line-height: 30px;

}

/* portfolio */

.portmain p {
    text-align: center;
    color: #EDE4C1;
    margin: 50px 50px;
    letter-spacing: 1px;
    line-height: 30px;
}

/* imagenes portfolio */

.row .column img {
    width: 100%;
    margin-top: 5px;
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 15%;
    padding: 5px;
    overflow: hidden;
}

@media (max-width: 800px) {
    .column {
        flex: 25%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 40%;
    }
}

/* hover img portfolio */

.column img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.8s;
}

/* footer */

footer {
    width: 100%;
    margin: 80px 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
}

footer .icon {
    width: 36px;
    height: 36px;
    margin: 40px 20px;
}

footer .logoBottom {
    width: 62px;
    height: 71.52px;
    margin-bottom: 20px;
}

footer .line {
    width: 100%;
}

footer .end {
    color: #EDE4C1;
    margin-bottom: 20px;
}

/* aparecer elementos scroll */

.animado {
    opacity: 0;
    transition: all 0.5s;
}

.mostrarArriba {
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media queries */

@media (max-width: 960px) {
    h1, h2 {
        width: 100%;
        align-items: center;
    }

    h3 {
        margin: 100px 50px;
        padding: 20px 50px;
        display: flex;
        align-items: center;
    }

    /* nav {
        display: none;
    }     */
    
    .index section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .skillp {
        margin: 100px 50px;
    }

    .grid {
        padding: 0 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .iconos2{
        padding: 0 10%;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
    }
}

/* hamburguesa */

